<!DOCTYPE html>
<html>

    <head>
        <title>Weather | 404</title>
        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{errorMessage}}</p>
        </div>
        {{>footer}}
    </body>

</html>