<!DOCTYPE html>
<html>
    <head>
        <title>Weather | About</title>
        <link rel="icon" href="/images/favicon.png">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="images/20160525_121902.jpg">
        </div>
        {{>footer}}
    </body>
</html>